dl {
    background: none repeat scroll 0 0;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 70px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}